<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="chatapp" layout="column">
<md-toolbar layout-align="center center">
    <h3>Chat app</h3>
</md-toolbar>
<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="true" md-whiteframe="4">
        <md-list ng-controller="sidenavController">
            <md-list-item ng-repeat="menu in menuList">
                <md-button flex="">
                    {{menu}}
                </md-button>
            </md-list-item> 
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in messages">
        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
        <div class="md-list-item-text">
          <h3 style="display:inline-block;font-weight:500;">{{item.what}}</h3>
          <h4 style="display:inline-block; float:right;color:#a9aeb0;">{{item.when}}</h4><br>
          <h4  style="display:inline-block;color:#a9aeb0;">{{item.who}}</h4>         
          <h4 style="display:inline-block;color:#a9aeb0;">{{item.notes}}</h4  >
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
        </md-list> 
    </md-sidenav>
    <md-content flex="" layout-padding="4">
        <div ng-controller="initController">
            {{ appName }}
        </div>
    </md-content>    
</div>
</body>
</html>